{% extends 'base.html' %}
{% load static %}


{% block title %}
  <title>SAMS - Student Appointment Medical System</title>
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="bi bi-house"></i>
        <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item">Layouts</li>
    <li class="breadcrumb-item breadcrumb-active" aria-current="page">Grid Layout</li>
  </ol>
{% endblock %}


{% block content %}
<!-- Content wrapper start -->
<div class="content-wrapper">

  <!-- Row start -->
  <div class="row">
      <div class="col-xxl-12">
          <div class="card">
              <div class="card-body">
                  <div class="card-320">
                    <!-- if messages -->
                    {% if messages %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert" id="myAlert">
                          <ul>
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                          </ul>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endif %}
                    <!-- End messages -->

                    {% if user.is_authenticated %}
                      {{ user }}
                    {% else %}
                      <p> Please, Log In => <a href="{% url 'accounts:login' %}"> Here </a> </p>
                    {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Row end -->

</div>
<!-- Content wrapper end -->
{% endblock %}

{% block custom-javascript %}
<script>
  // Utilisez jQuery pour sélectionner l'alerte et la faire disparaître après 5 secondes
  $(document).ready(function(){
    setTimeout(function() {
      $("#myAlert").alert('close');
    }, 5000);
  });
  </script>
{% endblock %}