{% extends 'base.html' %}
{% load static %}


{% block title %}
  <title>SAMS - Student Home</title>
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="bi bi-house"></i>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'students:home' %}">Student</a></li>
    <li class="breadcrumb-item breadcrumb-active" aria-current="page"><a href="{% url 'students:list-appointment' %}">List Appointment</a></li>
  </ol>
{% endblock %}


{% block content %}
<!-- Content wrapper start -->
<div class="content-wrapper">

  <!-- Row start -->
  <div class="row">
    <!-- Card start -->
    <div class="card">
      <div class="card-header">
        <div class="card-title">Appointment List</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="appointmentTable" class="table table-bordered table-hover table-striped" style="width:100%">
            <thead>
              <tr>
                <th>Date Appointment</th>
                <th>Student</th>
                <th>Service</th>
                <th>Doctor</th>
                <th>Time Schedule</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Card end -->
  </div>
  <!-- Row end -->

</div>
<!-- Content wrapper end -->
{% endblock %}

{% block custom-javascript %}
<script>
  // alert setTimeout
  $(document).ready(function(){
    setTimeout(function() {
      $("#auto-close-alert").alert('close');
    }, 5000);

    $('#appointmentTable').DataTable({
      "ajax": {
        "url": "{% url 'students:list-appointment' %}",
        "dataSrc": ""
      },
      "columns": [
        { "data": "date_appointment" },
        {
          "data": null,
          "defaultContent": "",
          "render": function (data, type, row) {
              return row.student__user__first_name + " " + row.student__user__last_name;
          }
        },
        { "data": "service__name", "defaultContent": "" },
        {
          "data": null,
          "defaultContent": "",
          "render": function (data, type, row) {
              return row.doctor__user__first_name + " " + row.doctor__user__last_name;
          }
        },
        { "data": "time_schedule", "defaultContent": "" },
        {
          "data": null,
          "defaultContent": "",
          "render": function (data, type, row) {
            return  '<a href="/students/appointment/view/' + row.id + '/"><span class="badge bg-primary"><i class="bi bi-eye"></i></span></a>' +
                    '<a href="/students/appointment/update/' + row.id + '/"><span class="badge bg-success"><i class="bi bi-pencil"></i></span></a>' +
                    '<a href="/students/appointment/delete/' + row.id + '/"><span class="badge bg-danger"><i class="bi bi-trash-fill"></i></span></a>' ;
          }
        }
      ],
      "searching": true,
      "responsive": true,
      dom: 'Bfrtip',
      buttons: [
        'copy',
        'excel',
        'csv',
        'pdf',
        'print'
      ],
    });
  });
</script>
{% endblock %}