{% extends 'base.html' %}
{% load static %}


{% block title %}
  <title>SAMS - Student Home</title>
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="bi bi-house"></i>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'students:home' %}">Student</a></li>
    <li class="breadcrumb-item breadcrumb-active" aria-current="page"><a href="{% url 'students:view-appointment' pk=appointment.pk %}">Detail Appointment</a></li>
  </ol>
{% endblock %}


{% block content %}
<!-- Content wrapper start -->
<div class="content-wrapper">

  <!-- Row start -->
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-12">
      <!-- Card start -->
      <div class="card">
        <div class="card-header">
          <div class="card-title">Appointment Detail</div>
          <div class="text-right"> <!-- Utilisez la classe "text-center" pour centrer le contenu -->
            <a href="{% url 'students:update-appointment' pk=appointment.pk %}"><span class="badge bg-success"><i class="bi bi-pen-fill"></i> Update</span></a> &ensp;
            <a href="{% url 'students:list-appointment' %}"><span class="badge bg-success"><i class="bi bi-eye"></i> Appointment List</span></a>
          </div>
        </div> <br/> <br/>
        <div class="card-body">
          <!-- Row start -->
          <div class="row gx-3">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="mb-3">Student:  
                <label for="student" class="form-label">{{ appointment.student }}</label>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12">
              <div class="mb-3">Date appointment: 
                <label for="date_appointment" class="form-label">{{ appointment.date_appointment }}</label>
              </div>
            </div> 
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="mb-3">Service:
                    <label for="service" class="form-label">{{ appointment.service }}</label>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12">
              <div class="mb-3">Doctor:
                <label for="doctor" class="form-label">{{ appointment.doctor }}</label>
              </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12">
              <div class="mb-3">Time schedule:  
                  <label for="time-schedule" class="form-label">{{ appointment.time_schedule }}</label>
              </div>
            </div>
          </div> <br/>
          <!-- Row end -->
        </div>
      </div>
      <!-- Card end -->
    </div>
  </div>
  <!-- Row end -->

</div>
<!-- Content wrapper end -->
{% endblock %}

