{% extends 'base.html' %}
{% load static %}


{% block title %}
  <title>SAMS - Student Home</title>
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="bi bi-house"></i>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'students:home' %}">Student</a></li>
    <li class="breadcrumb-item breadcrumb-active" aria-current="page">Student Home</li>
  </ol>
{% endblock %}


{% block content %}
<!-- Content wrapper start -->
<div class="content-wrapper">

  <!-- Row start -->
  <div class="row">
      <div class="col-xxl-12">
          <div class="card">
              <div class="card-body">
                  <div class="card-320">
                    <!-- if messages -->
                    {% if messages %}
                      <div class="alert alert-dismissible fade show" role="alert" id="auto-close-alert">
                          <ul>
                              {% for message in messages %}
                                  {% if message.tags == 'error' %}
                                      <div class="alert alert-danger">
                                          <li>{{ message }}</li>
                                      </div>
                                  {% elif message.tags == 'success' %}
                                      <div class="alert alert-success">
                                          <li>{{ message }}</li>
                                      </div>
                                  {% endif %}
                              {% endfor %}
                          </ul>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endif %}
                    <!-- End messages -->

                    {{ user }}
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Row end -->

</div>
<!-- Content wrapper end -->
{% endblock %}

{% block custom-javascript %}
<script>
  // Utilisez jQuery pour sélectionner l'alerte et la faire disparaître après 5 secondes
  $(document).ready(function(){
    setTimeout(function() {
      $("#auto-close-alert").alert('close');
    }, 5000);
  });
  </script>
{% endblock %}