<ul>
    <li class="sidebar-dropdown">
        <a href="#">
            <i class="bi bi-calendar-week"></i>
            <span class="menu-text">Appointments</span>
        </a>
        <div class="sidebar-submenu">
            <ul>
                <li>
                    <a href="{% url 'doctors:list-appointment' %}">View</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="sidebar-dropdown">
        <a href="#">
            <i class="bi bi-question-circle"></i>
            <span class="menu-text">Questions</span>
        </a>
        <div class="sidebar-submenu">
            <ul>
                <li>
                    <a href="{% url 'doctors:list-enquiry' %}">Reply</a>
                </li>
                <li>
                    <a href="{% url 'doctors:list-enquiry-all' %}">View</a>
                </li>
            </ul>
        </div>
    </li>
</ul>