{% load static %}
<!-- *************
    ************ Required JavaScript Files *************
************* -->
<!-- Required jQuery first, then Bootstrap Bundle JS -->
<script src="{% static '/sams/assets/js/jquery.min.js'%}"></script>
<script src="{% static '/sams/assets/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static '/sams/assets/js/modernizr.js'%}"></script>
<script src="{% static '/sams/assets/js/moment.js'%}"></script>

<!-- *************
    ************ Vendor Js Files *************
************* -->

<!-- Overlay Scroll JS -->
<script src="{% static '/sams/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js'%}"></script>
<script src="{% static '/sams/assets/vendor/overlay-scroll/custom-scrollbar.js'%}"></script>


<!-- Main Js Required -->
<script src="{% static '/sams/assets/js/main.js'%}"></script>

<!-- Bootstrap Select JS -->
<script src="{% static '/sams/assets/vendor/bs-select/bs-select.min.js'%}"></script>

<!-- Data Tables -->
<script src="{% static '/sams/assets/vendor/datatables/dataTables.min.js'%}"></script>
<script src="{% static '/sams/assets/vendor/datatables/dataTables.bootstrap.min.js'%}"></script>

<!-- Daterange -->
<script src="{% static '/sams/assets/vendor/daterange/daterange.js'%}"></script>
<script src="{% static '/sams/assets/vendor/daterange/custom-daterange.js'%}"></script>

<!-- Fullcalendar -->
<script src="{% static '/sams/assets/vendor/calendar/js/main.min.js'%}"></script>

<!-- Megamenu -->
<script src="{% static '/sams/assets/vendor/megamenu/js/custom.js'%}"></script>
<script src="{% static '/sams/assets/vendor/megamenu/js/megamenu.js'%}"></script>

<!-- Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>