<ul>
    <li class="sidebar-dropdown">
        <a href="#">
            <i class="bi bi-calendar-week"></i>
            <span class="menu-text">Appointment</span>
        </a>
        <div class="sidebar-submenu">
            <ul>
                <li>
                    <a href="{% url 'students:create-appointment' %}">New</a>
                </li>
                <li>
                    <a href="#">View</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="sidebar-dropdown">
        <a href="#">
            <i class="bi bi-person-plus"></i>
            <span class="menu-text">Doctor</span>
        </a>
        <div class="sidebar-submenu">
            <ul>
                <li>
                    <a href="#">New</a>
                </li>
                <li>
                    <a href="#">View</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="sidebar-dropdown">
        <a href="#">
            <i class="bi bi-person"></i>
            <span class="menu-text">Student</span>
        </a>
        <div class="sidebar-submenu">
            <ul>
                <li>
                    <a href="#">New</a>
                </li>
                <li>
                    <a href="#">View</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="sidebar-dropdown">
        <a href="#">
            <i class="bi bi-mic"></i>
            <span class="menu-text">Announcement</span>
        </a>
        <div class="sidebar-submenu">
            <ul>
                <li>
                    <a href="#">New</a>
                </li>
                <li>
                    <a href="#">View</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="sidebar-dropdown">
        <a href="#">
            <i class="bi bi-question-circle"></i>
            <span class="menu-text">Questions</span>
        </a>
        <div class="sidebar-submenu">
            <ul>
                <li>
                    <a href="#">New</a>
                </li>
                <li>
                    <a href="#">View</a>
                </li>
            </ul>
        </div>
    </li>
</ul>