<ul>
    <li class="sidebar-dropdown">
        <a href="#">
            <i class="bi bi-calendar-week"></i>
            <span class="menu-text">Appointment</span>
        </a>
        <div class="sidebar-submenu">
            <ul>
                <li>
                    <a href="{% url 'students:create-appointment' %}">New</a>
                </li>
                <li>
                    <a href="{% url 'students:list-appointment' %}">View</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#">
            <i class="bi bi-file-medical"></i>
            <span class="menu-text">Health Report</span>
        </a>
    </li>
    <li class="sidebar-dropdown">
        <a href="#">
            <i class="bi bi-question-circle"></i>
            <span class="menu-text">Ask Questions</span>
        </a>
        <div class="sidebar-submenu">
            <ul>
                <li>
                    <a href="{% url 'students:create-enquiry' %}">New</a>
                </li>
                <li>
                    <a href="{% url 'students:list-enquiry' %}">View</a>
                </li>
            </ul>
        </div>
    </li>
</ul>